RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite URLs like /admin-gallery to router.php?page=admin-gallery
RewriteRule ^([a-zA-Z0-9\-]+)$ router.php?page=$1 [L,QSA]
